{% extends './base.html' %}

{% load static %}


{% block title %} 
A-QuickTax Income Tax Service   
                
{% endblock %}

{% block content%}


  <!-- Services Section -->
  <section class="services-section">
    <div class="container">
      <div class="row">
        <div class="col  my-5">
          <h3 class="fs-1 fw-bold animated slideInDown">Income Tax Services</h3>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-6">
          <p>Navigating the complexities of <strong>income taxes</strong> is essential for financial health and compliance. At <strong>A-QuickTax</strong>, we specialize in helping <strong>U.S. expats</strong>, <strong>U.S. citizens</strong>, and <strong>Green Card holders</strong> with their income tax filings, regardless of where they reside. As a U.S. citizen or Green Card holder, you are required to file an annual tax return, reporting your worldwide income if you meet the minimum filing thresholds.</p>
          
          <p>For many expats, tax preparation can seem daunting, but don't worry. With the right expertise, most expats end up paying little to no taxes when their returns are prepared correctly, taking advantage of all available tax savings and deductions. We ensure that all available benefits, like <strong>Foreign Earned Income Exclusion</strong> and <strong>Foreign Tax Credit</strong>, are applied to minimize your tax liability.</p>
        
          <p>In addition to general expat filings, you also have a U.S. tax filing requirement if you have <strong>income from U.S. sources</strong> or were engaged in a trade or business in the United States during the calendar year, even if no income was generated, or if the income is exempt from U.S. tax under a tax treaty.</p>
        
          <p>Contact us today to learn more about how our <strong>Income Tax Services</strong> can simplify your filing process and reduce your tax burden.</p>
        
          <div class="container border">
            <div class="row">
              <div class="col-lg-12">
                <h2>Our <strong>Income Tax Preparation</strong> Services</h2>
        
                <table class="pricing-table">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Turnaround Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="highlight"><strong>Individual Tax</strong> - Resident and Non-Resident Filings</td>
                      <td>1-5 Days</td>
                    </tr>
                    <!-- Add more rows for additional services if needed -->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row my-5">
              <h1>Forms Prepared With Your Tax Return</h1>
              <div class="col-lg-12">
                <ul>
                  <li><i class="fas fa-file-alt"></i> <strong>Individual Federal Forms 1040</strong> and 1040NR (A, EZ, or X, as needed)</li>
                  <li><i class="fas fa-file-signature"></i> Schedule A – Itemized Deductions</li>
                  <li><i class="fas fa-file-invoice-dollar"></i> Schedule B – Interest/Dividends</li>
                  <li><i class="fas fa-briefcase"></i> Schedule C – Profit/Loss from Small Business</li>
                  <li><i class="fas fa-chart-line"></i> Schedule D – Capital Gains/Losses</li>
                  <li><i class="fas fa-home"></i> Schedule E – Rental Property/K-1’s</li>
                  <li><i class="fas fa-money-bill-alt"></i> Schedule EIC – Earned Income Credit</li>
                  <li><i class="fas fa-seedling"></i> Schedule F – Farm Income/Loss</li>
                  <li><i class="fas fa-users"></i> Schedule H – Household Employee</li>
                  <li><i class="fas fa-user-tie"></i> Schedule SE – Self-Employment Tax</li>
                  <li><i class="fas fa-file-export"></i> IRS Form 1116 – <strong>Foreign Tax Credit</strong></li>
                  <li><i class="fas fa-globe-americas"></i> IRS Form 2555 – <strong>Foreign Income Exclusion</strong></li>
                  <li><i class="fas fa-file-alt"></i> All other related forms from #1099-9465</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6">
          <img src="{% static 'images/income_tax_service_img.jpg' %}" class="d-block w-100 h-50 blurred-bg" alt="...">
          <img src="{% static 'images/_income_tax_service_img.jpg' %}" class="d-block w-100 h-50 blurred-bg" alt="...">
          
        </div>
      </div>
    </div>
   
    <div class="container text-bg-secondary p-3">
      <div class="row">
        <div class="col-12">
          <p class="highlight text-center">
            <strong>Get Started Today:</strong> Ready to take the stress out of managing your finances?
            <a  class="btn btn-dark" href="mailto:admin@aquicktax.com?subject=Inquiry%20about%20services&body=Hello,%20I%20would%20like%20to%20know%20more%20about%20your%20services.">Contact us via email</a>
            or Call us 
            <a  class="btn btn-dark" href="https://wa.me/0923291974637" target="_blank">Chat with us on WhatsApp!</a> 
            or send a Query,our team will contact you!
            <a class="btn btn-dark" href="{% url 'contact_us' %}">Contact us</a> 
            today to schedule a consultation and learn more.
          </p>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}