/* styles.css */
.textimg {
  background-image: url("{% static 'images/bg_logo.png' %}"); /* Use Django static URL for the image */
  background-size: contain; /* Adjust image to cover the text area fully */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  -webkit-background-clip: text; /* Clip background to text */
  
 
}

.footer .list-unstyled li a {
    color: #8000ff; /* Change the color value to your preferred color */
  }